* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 10;
    background-color: #f4f4f4;
    color: #333;
    font-size: 18px;
    text-align: center;

  }
 

  
  img {
    max-width: 500%;
    height: auto;
    display: block;
    margin: auto;
  }
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-width: 1200px;
  }


  

  header {
    background: #194569;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  header h1 {
    margin: 0;
    text-transform: uppercase;
  }

.header-left {
    display: flex;
    align-items: center;
}
.header-button {
    background-color: #194569;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    right: 10px;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
  }
  

h1 {
    margin: 40px;
    font-size: 40px;
}


.main-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.news-content {
    width: 70%;
}

.logo {
    width: 150px; /* Adjust the width to your desired standard size */
    height: auto; /* Maintain aspect ratio */
}


h2 {
    text-indent: 4px;
    align-items: left 50px;
    align-items: right 50px;
    text-align: center;
}


h3 {
    text-align: center;
    font-size: large;





}
h4 { 
    text-align: center;
    font-size: x-large;


}


.click-me-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: #194569;
    color: #fff;
}

.click-me-box {
  padding: 10px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  color: #194569;
  text-decoration: none;
}
.click-me-box a:hover{
color: #007bff;
}
.click-me-box a{
text-decoration: none;
color: #194569;
font-weight: bold;
font-size: 20px;
}

footer{
    background-color: #194569;
    color: #f4f4f4;



}
.dark-mode {
    background-color: rgb(49, 49, 49);
    color: white;
  }

  .image-container {
    margin-top: 20px;
}

.stacked-image{
  display: block;
  margin-bottom: 20px;
  align-items: center;
}
fas fa-home{
  color: #194569;
}